<div align="center">
<h1 class="hidden">Medlink</h1>
<%= image_tag "medlink_logo.png", :size => "660x620"%>
</div>

<div class="container" align="center">

<h2>Hello and welcome to MedLink.</h2>

<h2>Who Are You?</h2>

<div>
<a class="btn btn-large btn-primary" href="patients/new">I Am a Patient</a>
</div>

<div>
<a class="btn btn-large btn-warning" href="requests">I Am a Health Worker</a>
</div>

<div>
<a class="btn btn-large btn-info" href="/admin/dashboard">I Am an Admin</a>
</div>

</div>
