<style>
div.field input { font-size: 2em; height: 2em; width:100%;  font-size:4em;height:2em;line-height:100px;}
.masthead ul.nav li {padding-left:1em; height:2em; line-height:100px}
</style>

<div class="masthead">
        <h3 class="muted">MedLink</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/admin/dashboard">Admin</a></li>
                <li><a href="/admin/logout">Logout</a></li>
              </ul>
            </div>
          </div>
          </div>
      </div>
<br/><br/>
<div class="container">
<h1 style="font-size:4em">Notifications</h1><br/><br/>

<% if @with_emails.count > 0 %>
<div style="font-size:4em;line-height:1.2em">The Following Patients will be sent an email notification:</div>
<br/><br/>
<ul>
<% @with_emails.each do |patient| %>
	<li style="font-size:3.5em"><b><%= patient.full_name %></b> <br/><br/><br/>(<%= patient.email %>)</li>
<% end %>
</ul>
<% end %>

<% if @with_phones.count > 0 %>

<h2>The Following Patients have mobile phones only <br/>and cannot be contacted until the SMS API is built:</h2>

<ul>
<% @with_phones.each do |patient| %>
	<li style="font-size:3em"><%= patient.full_name %> (<%= patient.phone %>)</li>
<% end %>
</ul>

<% end %>
<br/><br/>
<% if @with_emails.count > 0 %>
<div style="line-height:1.2em; font-size:3em">Text: Your medicine is ready for pick up. Please visit the Bansang Health Center as soon as possible.</div>
<br/><br/>
<div align="center">
<a class="btn btn-success btn-larg btn-large" style="color:white;width:80%; font-size:4em;height:2em;line-height:100px;" href="/requests/sendoutnotifications">Send Notifications</a>
</div>
<% end %>
</div>

