<h3>Send Out Requests to Administrator</h3>
<p>Use this form to send out an email report to the main hospital. It will send all current open requests, and mark them as "i"
<form action="sendoutemail">
  <div class="field">
    <b>Email Address of Administrator:</b><br />
    <%= text_field :email_address, "" %>
    <%= submit_tag "Send", :class => "btn btn-info" %>
  </div>
</form>
