<br/>
<div align="center">
<%= image_tag "medlink_logo.png", :size => "660x620"%>
</div>

<br/><br/>
  <div class="container" align="center">

<h1 style="font-size:4em;line-height:1.2em">Hello and welcome to MedLink.</h1>
<br/>
<h1 style="font-size:4em;line-height:1.2em">Who Are You?</h1><br/><br/>

<div>
<a class="btn btn-large btn-primary" style="color:white;width:80%; font-size:4em;height:2em;line-height:100px;" href="patients/new">I Am a Patient</a>
</div>
<br/><br/>
<div>
<a class="btn btn-warning btn-larg btn-large" style="color:white;width:80%; font-size:4em;height:2em;line-height:100px;" href="requests">I Am a Health Worker</a>
</div>
<br/><br/><div>
<a class="btn btn-warning btn-info btn-large" style="color:white;width:80%; font-size:4em;height:2em;line-height:100px;" href="/admin/dashboard">I Am an Admin</a>
</div>

</div>
